* {
  font-family: "Jura", sans-serif;
}

body {
  background-color: #000000;
  color: #fff;
}
h1 {
  text-align: center;
  padding: 25px 30px;
  margin: 40px 0;
  color: #9ebce9;
  font-size: 50px;
  letter-spacing: 4px;
  overflow: hidden;
}
h1 span {
  position: absolute;
  display: block;
}

h1 span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
h1 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 2s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
h1 span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 16px);
  margin: 0;
  padding: 0 50px;
}

#barsElement {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-top: 50px;
  width: 100%;
}

.bar {
  background: #3f65b691;
  width: 20px;
  margin-right: 6px;
  position: relative;
  border-radius: 10px;
}

.un-ordered {
  background: red;
}

.sorted {
  background: #7ec2dd;
}

.ordered {
  background: #7ed7dd;
}

input.slider {
  width: 100%;
}

.start:before {
  content: "\F061F";
  position: absolute;
  top: -24px;
  left: -2px;
  color: #fff;
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: x-large;
}

.end:before {
  content: "\F0620";
  position: absolute;
  top: -24px;
  right: -2px;
  color: #fff;
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: x-large;
}

.comparing {
  display: flex;
  justify-content: center;
}
.comparing::after {
  content: "\F005D";
  position: absolute;
  bottom: -23px;
  z-index: 10;
  color: #93ff5b;
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: x-large;
}

/* .mid {
    border-top: 20px solid pink;
    margin-top: -20px;
  } */
.toolbar {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  align-items: center;
}

.toolbar-top > * {
  margin-right: 30px;
}

.toolbar-bottom > button:first-child {
  margin-right: 7px;
}

/* .bottom {
  } */
.animation-speed > div {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.animation-speed > div > *:not(:first-child) {
  margin-left: 10px;
}

.pivot {
  /* border: 2px solid red; */
  background: #ffac00;
}

.swap {
  background-color: #f13737;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 45px, 30px;
  border-radius: 10px;
  color: #ececec;
  cursor: pointer;
  font-size: large;
  text-decoration: none;
  background-color: transparent;
  transition: 0.5s;
}
.btn:hover {
  background: rgb(139, 139, 185);

  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}
.btn-primary {
  background-color: #3568d4;
  color: #03e9f4;
  font-size: large;
  box-shadow: 0px 5px 13px 0px #1f58d18c;
}
.btn span {
  position: absolute;
  display: block;
}

/* .btn-primary-outline {
  border: 1px solid #3568d4;
  color: #fff;
  box-shadow: 0px 5px 13px 0px #1f58d18c;
  background-color: transparent;
} */
.btn-secondary {
  background-color: #c32828;
  color: #fff;
  font-size: large;
  box-shadow: 0px 5px 13px 0px #e4562b8c;
}
.btn-rounded {
  border-radius: 100px;
}
.rate-value {
  float: right;
  width: 5%;
  height: 8%;
  font-size: 20px;
  line-height: 0.3;
  padding-right: 10px;
  padding-bottom: 10px;
}

select {
  padding: 9px 5px;
  border-radius: 10px;
  border: 1px solid #3568d4;
  color: #fff;
  box-shadow: 0px 5px 13px 0px #1f58d18c;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}

select:hover {
  background: rgb(139, 139, 185);

  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}
select option {
  color: #000;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 5px;
  /* Specified height */
  background: #d3d3d3b7;
  /* Grey background */
  outline: none;
  /* Remove outline */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: background 0.2s;
  cursor: pointer;
  /* Mouse-over effects */
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
}
.slider:hover {
  background: #d3d3d3;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background: #3568d4;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50px;
  box-shadow: 0px 5px 13px 0px #1f58d18c;
}
.slider::-moz-range-thumb {
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background: #3568d4;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50px;
  box-shadow: 0px 5px 13px 0px #1f58d18c;
}
